jax[cuda12]
pymc>=5.16
dask[complete]>=2024.5
numpyro
blackjax
preliz
arviz
graphviz
scikit-learn
numpy>=1.25
pandas>=2.2
matplotlib
seaborn
pyyaml
requests>=2.32
pytest>=8.2
coverage>=7.5
pytest-cov>=5.0
pylint>=3.2
flake8>=7.1